:root {
    --color-main: #1e213a;
    --color-second: #f59740;
    --color-third: #484d75;
    --color-gold: #eec6a0;
    --color-grey: #dedbd2;
    --font-main: "Chakra Petch", sans-serif;
    --font-second: "Inter", sans-serif;
}
