.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    box-shadow: none;
    transition: 0.3s ease;
    position: relative;
    padding: 0;
    z-index: 3;

    @media screen and (max-width: 1024px) {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 1px solid var(--color-gold);
        background: var(--color-main);
        justify-content: center;
    }

    &:hover {
        transform: scale(1.3);
    }

    &.active {
        .burger__title {
            color: var(--color-third);
        }

        .burger__button {
            span {
                background: var(--color-third);
            }
        }
    }

    &__title {
        font-size: 18px;
        font-family: var(--font-second);
        line-height: 25px;
        color: var(--color-gold);
        transition: 0.3s ease;

        @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 18px;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        width: 58px;
        padding: 4px;

        @media screen and (max-width: 1024px) {
            width: 32px;
            padding: 0;
        }

        span {
            display: block;
            width: 100%;
            height: 1px;
            background: var(--color-gold);
            margin: 2.5px 0;
            transition: 0.3s ease;

            @media screen and (max-width: 1024px) {
                margin: 1.6px 0;
            }
        }
    }
}